/* Estilização personalizada */
body {
    background-color: #000 !important; /* Fundo preto */
    color: #fff; /* Texto em branco para contraste */
}

h1 {
    color: #28a745; /* Verde para o título */
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #1c1c1c; /* Fundo escuro das cards */
    color: #fff; /* Texto branco */
}

.btn-primary {
    background-color: #28a745 !important; /* Verde para o botão */
    border-color: #28a745 !important;
}

.btn-primary:hover {
    background-color: #218838; /* Verde mais escuro no hover */
    border-color: #1e7e34;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #2a2a2a; /* Fundo alternado escuro */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #1c1c1c; /* Fundo alternado mais escuro */
}

